.messageBoxWrapper {
  display: flex;
  align-items: center;
}

.messageBoxInput {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 50px;
  border: solid rgb(200, 195, 195) 0.5px;
  height: 1.5rem;
  padding-left: 1rem;
}
.messageBoxInput:checked {
  border: solid rgb(200, 195, 195) 0.5px;
}
.message {
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.message > div {
  border-radius: 16px;
}
.myMessage {
  justify-content: end;
}
.myMessage > div {
  background-color: rgb(200, 195, 195);
}
.userMessage > div {
  border: 0.2px solid rgb(200, 195, 195);
}
