.avatarImgBox {
  position: relative;
}

.imgAvatar:hover {
  filter: blur(2px);
  z-index: 0;
}

.avatarImgBox:hover::after {
  content: "+";
  font-size: 3rem;
  color: rgb(88, 88, 90);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.file-input {
  display: none;
}

.btnStyle {
  color: #fbae42 !important;
  border: solid 0.5px #fbae42 !important;
  text-decoration: none !important;
}
.btnStyle:hover {
  color: #fbae42;
  border: solid 1px #fbae42 !important;
}
.mainBox {
  border: dotted 5px #fbae42;
  border-radius: 30px;
}

.userPageContainer {
  /* /* border-right: dotted 5px #80caff; */
  border: dotted 5px #80caff;
  /* border: solid 1px lightgrey; */
  /* background-color: #feeed7; */
}
.userPageContainerTab a:hover {
  text-decoration: none;
}
.h6-options-list {
  padding-right: 1em;
  color: rgb(56, 56, 56);
  cursor: pointer;
}
.h6-options-list .active,
.h6-options-list:hover {
  color: black;
  text-decoration: underline #80caff;
}
.addProductBtn .btnStyle a {
  text-decoration: none !important;
}

.productHistoryList {
  border: 1px #dbdbdb solid;
}
