.messageBoxWrapper {
  display: flex;
  align-items: center;
}

.messageBoxInput {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 50px;
  border: solid rgb(200, 195, 195) 0.5px;
  height: 1.5rem;
  padding-left: 1rem;
}
.messageBoxInput:checked {
  border: solid rgb(200, 195, 195) 0.5px;
}
.message {
  padding-right: 4px;
  overflow: hidden;
  margin-bottom: 4px;
  display: flex;
  width: 100%;
}
.myMessage {
  justify-content: end;
}
.myMessage > div {
  border-radius: 16px;
  background-color: rgb(200, 195, 195);
}
