.productImageBox {
  height: 500px;
  margin-right: 1em;
  position: relative;
}

.productImage {
  height: 100%;
  width: fit-content;
  border: 1px #dbdbdb solid;
  border-radius: 10px;
  position: relative;
}

.productImageIcon {
  position: absolute;
}
.productContentBox {
  border-bottom: 1px #dbdbdb solid;
}
.ownerContentBox {
  border-top: 1px #dbdbdb solid;
  border-bottom: 1px #dbdbdb solid;
}
.userName p,
a {
  color: black;
  text-decoration: none;
}
.userName p:hover,
a:hover {
  color: black;
  text-decoration: underline;
}
.searchInput {
  border-radius: 20px;
}
.searchField {
  z-index: 1;
  position: absolute;
  background-color: white;
  flex-grow: 1;
  padding-left: 2em;
  border-radius: 10px;
}
.chatWindow {
  position: relative;
  bottom: -37px;
}
